/* Coringa */
*{
    margin: 0px;
    padding: 0px;
  }

  /*Aqui definimos a cor do texto como o branco para todos os elementos e todo o texto estará no tamanho da fonte central*/
  body{
    text-align: center;
    font-size: 30px;
  }
  header{
    color: black;
    background-color:orange;
    height: 90px;
    width: 100%;
  }
  .logo img{
    width: 150px;
  }
  a {
    color:black;
  }
  a:hover {
    color:red;
  }
  header .container nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;

  }
  .home {
    display: inline-block;justify-content: auto;
    width:16,66%;
    
  }
  .cadastro {
    display: inline-block;justify-content: auto;
    width:16,66%;
  }
  .contato {
    display: inline-block;
    justify-content: auto;
    width:16,66%;
  }
  .login {
    display: inline-block;justify-content: auto;
    width:16,66%;
  }
  .produtos {
    display: inline-block;justify-content: auto
    width:16,66%;
  }
  .serviço {
    display: inline-block;justify-content: auto
    width:16,66%;
  }
 

 
   
  .textoinicial{
    background-color: red;
    height: 90px;
    width: 90%;
  }
  .nav{
    background-color: blue;
    height: 600px;
    width: 28%;
    float: left ;
  }
  .article{
    background-color: green;
    height: 500px;
    width: 70%; 
    overflow: hidden;
    float: right;
  }
  footer{
    background-color: brown;
    height: 100px;
    width: 100%;
    display: block;
    float: left;
  }

  /* Configurações do Carousel */
  .carousel{
    background: #2f4357;
    margin-top: 20px;
  }
    .carousel .item{
    min-height: 280px; /* Impedir que o carrossel seja distorcido se, por algum motivo, a imagem não carregar */
  }
    .carousel .item img{
    margin: 0 auto; /* Alinhar a imagem do slide horizontalmente */
  }
    .bs-example{
    margin: 20px;
  }