body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

h3,
h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #bb935f;
}

.container {
    padding: 80px 120px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}

.person:hover {
    border-color: #f1f1f1;
    background-color: #bb935f;
}

.img-circle {
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.6);
}

.carousel-inner img {
    /* -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */
    width: 100%;
    /* Set width to 100% */
    margin: auto;
    height: 100vh !important;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}

.bg-1 h3 {
    color: #fff;
}

.bg-1 p {
    font-style: italic;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}


.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
    margin: 0 10px 10px 10px;
    border: none;
    width: 100%;
}


.btn:hover,
.btn:focus {
    border: 1px solid #333;
    background-color: #bb935f;
    color: #fff;
}

.modal-header,
h4,
.close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header,
.modal-body {
    padding: 40px 50px;
}

.nav-tabs li a {
    color: #777;
}

#googleMap {
    width: 100%;
    height: 400px;
    /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar-brand {
    padding: 10px 10px;
}

.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar li a,
.navbar .navbar-brand img {
    height: 30px;
}

.navbar-nav li a:hover {
    color: #bb935f !important;
}

.navbar-nav li.active a {
    color: #bb935f !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
    min-width: 250px;
    min-height: 50px;
}



.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: ##bb935f;
    !important;
    color: #fff;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #bb935f;
    text-decoration: none;
}

\.form-control {
    border-radius: 0;
    width:100%;
}

textarea {
    resize: none;
}

.carousel-control {
    width: 10%;
}

.carousel-indicators .active {
    background-color: #bb935f;
}

.form-signin h2{
    font-size:14px;
    font-family:  Montserrat, sans-serif;
    color:#333;
    padding-left:15px;
    text-transform: uppercase;
    font-weight:bold;
}

.dropdown-menu input {
    margin: 10px;
    line-height: normal;
   
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 250px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    /* border: 1px solid rgba(0,0,0,.15); */
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu#text{
    padding-left:30px;
}


.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 5px;
    margin-left: auto;
    
}

